.imagenes{
    height: 25rem;
}

.nombre{
    text-shadow: 1px 2px 1px black;
}

.card-descripcion{
    height: 5rem;
    overflow: auto;
}

.imagen-card{
    height: 10rem;
}

.receta-descripcion-tabla{
    height: 7rem;
    overflow: auto;
}

.footer{
    height: 10rem;
    background-color: rgba(44, 54, 51, 0.603);
}

.imagen-Receta{
    height: 25rem;
}